* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    height: 100vh;
}

.list {
    flex: 3;
    background-color: #8dd7d4;
}

#form {
    flex: 2;
    background-color: #eeeeee;
    padding: 5px;
}

.btn {
    margin-left: 160px;
}
